<!-- <app-product-card></app-product-card> -->
<span>Welcome</span>

<a href="/">Home</a> &nbsp; &nbsp; &nbsp; &nbsp;
<a href="/person">Person pth has admin</a> &nbsp; &nbsp; &nbsp; &nbsp;
<a href="/product-list">product list</a>

<router-outlet></router-outlet>

<footer>
    @Copy write by 2021
</footer>

<!-- <app-product-desc></app-product-desc> -->


<!-- <app-reactiveform-basic></app-reactiveform-basic> -->

<!-- <ecard-admin></ecard-admin>
<app-template-drivan-form>
</app-template-drivan-form>
<br><br>
<app-reactiveform-basic></app-reactiveform-basic>
<br>
<span class="add-makeup">Welcome</span>
<app-reactive-fomrs></app-reactive-fomrs> -->


<!-- <app-learn-if></app-learn-if> -->

<!-- We have recived this data from chil{{displayData | json }}
<ecard-admin [profile]="title"   (personDetails)="getPersonDetails($event)" ></ecard-admin> -->

<!-- <app-product-price></app-product-price>
<app-product-card></app-product-card> -->